{% extends "SystemTrackingBundle::Default/base.html.twig" %}

{% block body %}

<h2>{{ 'devices.title'|trans({}, 'tracking') }}</h2>

{% if devices|length > 0 %}
<table class="table table-striped">
	<thead>
		<th>ID</th>
		<th>{{ 'devices.table.name'|trans({}, 'tracking') }}</th>
		<th>{{ 'devices.table.api_key'|trans({}, 'tracking') }}y</th>
	</thead>
	<tbody>
		{% for device in devices %}
		<tr>
			<td>{{ device.id }}</td>
			<td>{{ device.system }}</td>
			<td>{{ device.apiKey }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">{{ 'devices.nothing'|trans({}, 'tracking') }}</div>
{% endif %}

{% endblock body %}