{% extends "SystemTrackingBundle::Default/base.html.twig" %}

{% block javascripts %}
  <script type="text/javascript">
      var assetsBaseDir = "{{ asset('bundles/systemtracking/') }}";
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  {% javascripts '@jquery_js' '@bootstrap_js' '@SystemTrackingBundle/Resources/public/js/trip/map.js' filter='?yui_js' combine=true %}
     <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
<h2>
	<a href="{{ path('system_tracking_trip', {id:positions[0].object.id}) }}" class="btn btn-info"><i class="icon-white icon-chevron-left"></i> Go Back</a>
	View Trip Details
</h2>

<div id="tracking-route" style="width: 100%; height: 300px;"></div>

<table class="table table-striped">
	<thead>
		<th>Date Fixed</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Speed</th>
		<th>Altitude</th>
		<th>Course</th>
	</thead>
	<tbody>
		{% for position in positions %}
		<tr{% if position.getType() == constant('System\\TrackingBundle\\Entity\\Position::TYPE_PARKING') %} class="parking"{% endif %} data-lng="{{ position.getLongitude() }}" data-lat="{{ position.getLatitude() }}" data-type="{{ position.getType() }}">
			<td>[{{ position.getType() }}] {{ position.getDateFixed()|date('Y-m-d H:i:s') }} <small>({{ position.getDateCreated()|date('H:i:s') }})</small></td>
			<td>{{ position.getLatitude() }}</td>
			<td>{{ position.getLongitude() }}</td>
			<td>{{ position.getSpeed() }}</td>
			<td>{{ position.getAltitude() }}</td>
			<td>{{ position.getCourse() }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock body %}