{% extends "SystemTrackingBundle::Default/base.html.twig" %}

{% block body %}

<h2>{{ 'objects.delete.title'|trans({}, 'tracking') }}</h2>

<form action="{{ path("system_tracking_object_delete", {id:app.request.get('id')}) }}" method="post" class="form-new-object" role="form">
        
    {{ form_widget(form._token) }}
    
	<p>
		{{ 'objects.delete.confirm'|trans({'%name%': object.name}, 'tracking') }}?
	</p>
	
	<p>
		<button class="btn btn-sm btn-primary btn-block" type="submit">{{ 'objects.delete.submit'|trans({}, 'tracking') }}</button>
	</p>
</form>
{% endblock body %}